body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(234, 29%, 20%);
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    background: none;
    padding: 0;
  }
}
